<?xml version='1.0' encoding='utf-8'?>
<widget id="com.crisu83.foosball" version="0.1.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Foosball</name>
    <description>
        Mobile application for tracking foosball statistics.
    </description>
    <author email="christoffer.niska@gmail.com" href="http://crisu83.me/">
        Christoffer Niska
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="fullscreen" value="true"/>
    <preference name="webviewbounce" value="false"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>
</widget>