<ion-view title="title" left-buttons="leftButtons" right-buttons="rightButtons">
  <ion-content has-header="true" has-tabs="true">

    <div class="row">
      <div class="col">
        <h5>Home team</h5>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Player 1">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Player 3">
          </label>
        </div>
      </div>
      <div class="col">
        <h5>Away team</h5>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Player 2">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Player 4">
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Match options</h5>
        <p>Add options here ...</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h5>Player options</h5>
        <p>Add options here ...</p>
      </div>
    </div>

  </ion-content>
</ion-view>