<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-default">

  <ion-tab title="Matches" icon="icon ion-ios7-flag" href="#/tab/matches">
    <ion-nav-view name="match-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Players" icon="icon ion-ios7-people" href="#/tab/players">
    <ion-nav-view name="player-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Stats" icon="icon ion-stats-bars" href="#/tab/stats">
    <ion-nav-view name="stats-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>